/***********************************
        SECTION HEADER
***********************************/

.section-header {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    width: 100%;
    margin-bottom: -100px;
    z-index: 100;
    margin-top: 50px;
}

.section-background {
    grid-area: 1 / 2 / 2 / 3;
    background-color: var(--light);
    transform: skew(-10deg);
    box-shadow: 7px 7px 20px rgb(136 0 125 / 30%);
    border-right: 20px solid var(--spring);
    border-radius: 3px;
}

.section-background::after {
    content: "";
    position: absolute;
    bottom: 15px;
    width: 103%;
    left: 0px;
    height: 14px;
    margin: 0px 20px;
    border-radius: 8px;
    background: linear-gradient(132deg, var(--golden) 0%, var(--tangerine) 32%, var(--candy) 77%, var(--iris) 100%);
}

.section-title {
    grid-area: 1 / 2 / 2 / 3;
    color: var(--dark);
    text-align: right;
    padding: 40px;
    font-weight: bolder;
    font-size: calc(1.5em + 2.2vw);
}

/***********************************
        SHELF LAYOUT
***********************************/

#library-wrapper {
    border-radius: 20px;
    margin: 3% 2% 6%;
    padding: 40px 0;
    background: linear-gradient(132deg, var(--sun) 0%, var(--peachy) 32%, var(--heart) 77%, var(--petunia) 100%);
}

#library {
    display: flex;
    flex-direction: row;
    max-width: 1800px;
    margin: auto;
    padding: 30px 10px;
}

.shelf-wrapper, .page-wrapper {
    display: block;
    margin: auto;
}

.page-wrapper {
    padding-top: 20px;
    width: 100%;
}

.shelf {
    display: grid;
    margin: 0 auto auto auto;
    padding: 20px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 33;
    grid-template-columns: repeat(33, 25px); 
    max-height: 1024px;
    min-height: 800px;
    height: 50vh;
}

.book {
    border-radius: 2px;
    background-color: var(--light);
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    justify-self: end;
    align-self: end;
    opacity: .7;
}

@keyframes arrow-bounce {
    0% {margin-top: -30px;}
    50% {margin-top: -25px;}
    100% {margin-top: -30px;}
}

/***********************************
        BOOK LAYOUT
***********************************/

.book:hover::before, .selected-book::before {
    max-height: 20px;
    width: 12px;
    display: block;
    margin-top: -30px;
    content: url(/assets/bookmarker.svg);
    margin-left: 39%;
    position: absolute;
    animation-name: arrow-bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    z-index: 1000;
}

.selected-book {
    z-index: 10000;
    box-shadow: 1px 1px 5px rgba(0,0,0,.4);
    opacity: 1;
}

.book:hover {
    transform: translate(0px, -6px);
    transition: ease-in-out .1s;
    cursor: pointer;
    opacity: 1;
    box-shadow: 1px 1px 5px rgba(0,0,0,.4);
}

.spine {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    display: grid;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2; 
}

.book .spine .book-title {
    text-orientation: mixed;
    padding: 10px;
    justify-self: center;
    align-self: center;
}

.book .spine .author-short {
    justify-self: center;
    align-self: center;
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

/***********************************
        BOOKSHELF
***********************************/

/* Designing Experiences */

#designing-experiences {
    grid-area: 1 / 4 / 2 / 7;
    height: 80%;
    z-index: 100;
}

#designing-experiences .spine {
    grid-template-rows: 25% 30% 35% 10%;
}

#designing-experiences {
    grid-area: 1 / 4 / 2 / 7;
    height: 80%;
    z-index: 100;
    grid-template-rows: 20% 35% 35% 10%;
}

#designing-experiences * h2.book-title {
    font-family: var(--serif-font);
    font-size: 22pt;
    letter-spacing: .1ch;
    grid-area: 2 / 1 / 4 / 2;
    padding-left: 15px;
}

#designing-experiences * .author-short {
    font-size: 14pt;
    font-weight: normal;
    text-align: center;
    color: crimson;
    font-family: var(--serif-font);
    grid-area: 1 / 1 / 2 / 2;
    height: 80%;
}

#designing-experiences * .detail {
    background-color: rgb(19, 19, 19);
    margin-bottom: 0;
    height: 40px;
    grid-area: 4 / 1 / 5 / 2;
    align-self: end;
}

/* Living with Complexity */

#living-with-complexity {
    grid-area: 1 / 1 / 2 / 4;
    background-color: rgb(109, 109, 109);
    height: 70%;
}

#living-with-complexity * h2.book-title {
    font-size: 22pt;
    font-weight: normal;
    color: var(--light);
    padding-top: 60px;
    padding-bottom: 40px;
}

#living-with-complexity * .author-short {
    font-weight: normal;
    color: var(--dark);
    font-size: 20pt;
}

/* The Myth and the Mouse */

#the-myth-and-the-mouse {
    grid-area: 1 / 7 / 2 / 9;
    background-color: var(--night);
    height: 77%;
}

#the-myth-and-the-mouse * h2.book-title {
    font-size: 18pt;
    color: var(--light);
    padding-top: 60px;
    padding-bottom: 40px;
}

#the-myth-and-the-mouse * .author-short {
    font-size: 18pt;
    color: rgb(56, 162, 255);
}

/* Theories and Documents of Contemporary Art */

#theories-of-contemporary-art {
    grid-area: 1 / 9 / 2 / 16;
    background-color: rgb(23, 23, 23);
    height: 95%;
}

#theories-of-contemporary-art .spine {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-columns: 60% 40%;
    grid-template-rows: 12% 28% 30% 30%;
}

#theories-of-contemporary-art * h2.book-title {
    font-size: 27pt;
    letter-spacing: -.15ch;
    padding: 0;
    text-transform: uppercase;
    font-weight: normal;
    font-family: var(--display-font);
    color: rgb(241, 58, 45);
    grid-area: 2 / 2 / 5 / 3;
    text-align: left;
    justify-self: start;
    align-self: start;
}

#theories-of-contemporary-art * .author-short {
    font-size: 16pt;
    grid-area: 1 / 1 / 2 / 3;
    text-transform: uppercase;
    font-weight: lighter;
    color: var(--light);
}

#theories-of-contemporary-art * .subtitle {
    grid-area: 2 / 1 / 5 / 2;
    font-size: 17pt;
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
    color: var(--light);
    padding-right: 10px;
    letter-spacing: .1ch;
}

/* Interactive Narratives and Transmedia Storytelling */

#interactive-narratives {
    grid-area: 1 / 16 / 2 / 18;
    background-color: var(--golden);
    height: 85%;
}

#interactive-narratives * h2.book-title {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14pt;
    color: #bf0606;
}

#interactive-narratives * .author-short {
    font-family: var(--main-font);
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 13pt;
    color: #bf0606;
}

/* On Advertising */

#on-advertising {
    grid-area: 1 / 18 / 2 / 20;
    background-color: var(--light);
    height: 90%;
}

#on-advertising .spine {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-template-rows: 20% 80%;
}

#on-advertising * h2.book-title {
    margin: 0;
    padding: 0;
    font-family: var(--heavy-font);
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0ch;
    font-size: 32pt;
    color: var(--dark);
    grid-area: 2 / 1 / 3 / 2;
    align-self: start;
    margin: 0 -1px 0 -5px;
}

#on-advertising * .author-short {
    margin: 0;
    padding: 0;
    font-family: var(--heavy-font);
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0ch;
    font-size: 32pt;
    color: var(--dark);
    grid-area: 1 / 1 / 2 / 2;
    align-self: end;
    padding-bottom: .5ch;
    margin: 0 -1px 0 -5px;
}

/* Dream It! Do It! */

#dream-it-do-it {
    grid-area: 1 / 20 / 2 / 24;
    background-color: rgb(242, 237, 247);
    height: 78%;
}

#dream-it-do-it .spine {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-columns: 40% 60%;
    grid-template-rows: 20% 7% 61% 12%;
}

#dream-it-do-it * h2.book-title {
    margin: 0;
    padding: 0;
    font-family: var(--display-font);
    font-weight: bolder;
    font-size: 30pt;
    letter-spacing: -.1ch;
    grid-area: 3 / 2 / 4 / 3;
    text-align: left;
    justify-self: start;
    align-self: start;
    color: var(--petunia);
}

#dream-it-do-it * .subtitle {
    grid-area: 3 / 1 / 4 / 2;
    font-size: 11pt;
    text-align: left;
    font-weight: 600;
    padding-top: 20px;
    letter-spacing: -.05ch;
    color:rgb(33, 65, 84);
}

#dream-it-do-it * .author-short {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 20pt;
    color: var(--light);
    grid-area: 1 / 1 / 2 / 3;
    background-color: var(--petunia);
    justify-self: center;
    align-self: center;
}

#dream-it-do-it * .background-block {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--light);
    grid-area: 1 / 1 / 2 / 3;
    background-color: var(--petunia);
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
}

#dream-it-do-it * .spine-logo {
    justify-self: center;
    align-self: center;
    grid-area: 4 / 1 / 5 / 3;
    padding: 20px;
    max-width: 70%;
}

/* Where Water Comes Together with Other Water */

#where-water-comes-together {
    grid-area: 1 / 24 / 2 / 25;
    background-color: var(--spring);
    height: 75%;
}

#where-water-comes-together * h2.book-title {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 11pt;
    color: #454545;
    align-self: start;
    padding-top: 20px;
}

#where-water-comes-together * .author-short {
    font-family: var(--main-font);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 11pt;
    color: #910808;
    align-self: start;
}

/* The Imagineering Way */

#the-imagineering-way {
    grid-area: 1 / 25 / 2 / 27;
    background-color: var(--light);
    height: 62%;
    transform: translate(84px, 0px) rotate(-20deg);
}

#the-imagineering-way * h2.book-title {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    font-size: 18pt;
    letter-spacing: -.05ch;
    color: #454545;
    align-self: start;
    padding-top: 20px;
}

#the-imagineering-way * .author-short {
    font-family: var(--main-font);
    font-size: 12pt;
    align-self: start;
}

/***********************************
        BOOK CONTENT
***********************************/

#book-page {
    width: 100%;
    margin: auto;
}

#book-page::before, #book-page::after {
    position: absolute;
    font-family: var(--serif-font);
    color: var(--light);
    font-size: 7rem;
    z-index: 1000;
    text-shadow: 2px 2px 10px rgb(136 0 125 / 30%);
}

#book-page::before {
    content: "\201C";
    margin-top: -50px;
}

#book-page::after {
    bottom: 0;
    right: 0;
    content: "\201D";
    margin-bottom: -50px;
    z-index: 1;
}

.book-content {
    display: none;
    margin: 20px;
    padding: 20px;
    z-index: 100;
}

.content-title {
    font-family: var(--serif-font);
    padding: 30px 30px 10px 30px;
    background-color: var(--night);
    background: linear-gradient(132deg, 
        rgba(255,187,38,1) 0%, 
        rgba(254,123,96,1) 32%, 
        rgba(251,72,191,1) 77%, 
        rgba(185,34,218,1) 100%);
    color: var(--light);
    box-shadow: 5px 5px 20px rgb(136 0 125 / 30%);
    border-radius: 3px;
    font-size: calc(1.3rem + .5vw);
}

.content-author {
    margin: 15px 30px 30px;
    font-family: var(--serif-font);
    font-size: 1.1rem;
}

.excerpt {
    margin: 30px;
    letter-spacing: -.05ch;
    font-family: var(--serif-font)
}

.excerpt * {
    letter-spacing: -.05ch;
    font-family: var(--serif-font)
}

.byline {
    margin: 30px;
    text-align: right;
    font-style: italic;
    letter-spacing: -.05ch;
    font-family: var(--serif-font)
}

a.book-link {
    display: block;
    margin: 30px;
}

/***********************************
        MEDIA QUERIES
***********************************/

@media screen and (max-width: 1500px) {
    .shelf {
        display: grid;
        margin: 0 auto auto auto;
        padding: 20px;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 26;
        grid-template-columns: repeat(26, 25px); 
    }
    .book-page {
        margin-left: 0;
    }
    #the-imagineering-way {
        transform: none;
    }
}

@media screen and (max-width: 1240px) {
    #library {
        flex-direction: column;
    }
    .section-header {
        grid-template-columns: 20% 60% 20%;
        margin-bottom: -70px;
    }
}

@media screen and (max-width: 740px) {
    .section-header {
        grid-template-columns: 10% 80% 10%;
        margin-bottom: -60px;
    }
    
    .shelf-wrapper, .page-wrapper {
        margin: 0;
    }
    
    .shelf {
        display: grid;
        margin: 30px auto auto auto;
        padding: 0px;
        grid-row-start: 1;
        grid-row-end: 26;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-template-rows: repeat(26, 20px); 
        grid-template-columns: auto;
        height: auto;
        min-height: 100%;
    }

    .book {
        margin: 0;
        border-radius: 3px;
        opacity: .5;
    }

    .selected-book {
        opacity: 1;
    }

    @keyframes arrow-bounce-mobile {
        0% {margin-left: 0px;}
        50% {margin-left: 5px;}
        100% {margin-left: 0px;}
    }

    .book:hover::before, .selected-book::before {
        display: none;
    }
    
    .book:hover {
        transform: translate(0px, 0px);
        transition: ease-in-out .1s;
        cursor: pointer;
        opacity: 1;
    }

    .spine {
        margin-bottom: 0;
        display: grid;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 5; 
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 1fr;
    }

    .vertical-text {
        writing-mode: horizontal-tb;
        text-orientation: mixed;
    }

    /* Designing Experiences */

        #designing-experiences .spine {
            grid-template-rows: auto;
            grid-template-columns: 25% 30% 35% 10%;
        }

        #designing-experiences {
            grid-area: 4 / 1 / 7 / 2;
            z-index: 100;
            height: 100%;
            width: 100%;
        }

        #designing-experiences * h2.book-title {
            font-size: 14pt;
            grid-area: 1 / 2 / 2 / 4;
            padding-bottom: 0px;
            padding-top: 0px;
        }

        #designing-experiences * .author-short {
            font-size: 10pt;
            height: auto;
            justify-self: center;
            align-self: center;
        }

        #designing-experiences * .detail {
            margin-right: 0;
            height: 100%;
            width: 40px;
            grid-area: 1 / 4 / 2 / 5;
            justify-self: end;
        }

    /* Living with Complexity */

        #living-with-complexity {
            grid-area: 1 / 1 / 4 / 2;
            height: 100%;
            width: 100%;
        }

        #living-with-complexity .spine {
            grid-template-columns: 60% 40%;
        }

        #living-with-complexity * h2.book-title {
            font-weight: normal;
            padding-top: 0;
            padding-bottom: 0;
            font-size: 14pt;
        }

        #living-with-complexity * .author-short {
            font-weight: normal;
            padding-top: 0;
            padding-bottom: 0;
            font-size: 12pt;
        }

    /* The Myth and the Mouse */

        #the-myth-and-the-mouse {
            grid-area: 7 / 1 / 9 / 2;
            height: 100%;
            width: 100%;
        }

        #the-myth-and-the-mouse .spine {
            grid-template-columns: 60% 40%;
        }

        #the-myth-and-the-mouse * h2.book-title {
            padding-top: 0;
            padding-bottom: 0;
            font-size: 12pt;
        }

        #the-myth-and-the-mouse * .author-short {
            font-size: 12pt;
        }

    /* Theories and Documents of Contemporary Art */

        #theories-of-contemporary-art {
            grid-area: 9 / 1 / 15 / 2;
            height: 100%;
            width: 100%;
        }

        #theories-of-contemporary-art .spine {
            display: grid;
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 5;
            grid-template-rows: 60% 40%;
            grid-template-columns: 12% 28% 30% 30%;
        }

        #theories-of-contemporary-art * h2.book-title {
            font-size: 18pt;
            padding: 0;
            grid-area: 1 / 2 / 2 / 5;
            text-align: left;
            justify-self: start;
            align-self: end;
        }

        #theories-of-contemporary-art * .author-short {
            font-size: 10pt;
            grid-area: 1 / 1 / 3 / 2;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
        }

        #theories-of-contemporary-art * .subtitle {
            grid-area: 2 / 2 / 3 / 5;
            font-size: 11pt;
            color: var(--light);
            padding-right: 10px;
            letter-spacing: .1ch;
        }

    /* Interactive Narratives and Transmedia Storytelling */

        #interactive-narratives {
            grid-area: 15 / 1 / 17 / 2;
            height: 100%;
            width: 100%;
        }

        #interactive-narratives .spine {
            grid-template-rows: auto;
            grid-template-columns: 75% 25%;
        }

        #interactive-narratives * h2.book-title {
            margin: 0;
            padding: 0 0 0 10px;
            font-size: 8pt;
        }

        #interactive-narratives * .author-short {
            font-size: 7pt;
        }

    /* On Advertising */

        #on-advertising {
            grid-area: 17 / 1 / 19 / 2;
            height: 100%;
            width: 100%;
        }

        #on-advertising .spine {
            display: grid;
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-template-rows: auto;
            grid-template-columns: 26% 74%;
        }

        #on-advertising * h2.book-title {
            padding: 0;
            font-size: 2rem;
            grid-area: 1 / 2 / 2 / 3;
            align-self: center;
            justify-self: start;
            margin: -1px 0 -5px 0;
            text-align: left;
        }

        #on-advertising * .author-short {
            padding: 0;
            font-size: 2rem;
            grid-area: 1 / 1 / 2 / 2;
            align-self: center;
            justify-self: end;
            padding-right: .5ch;
            padding-bottom: 0;
            margin: -1px 0 -5px 0;
        }

    /* Dream It! Do It! */

        #dream-it-do-it {
            grid-area: 19 / 1 / 23 / 2;
            height: 100%;
            width: 100%;
        }

        #dream-it-do-it .spine {
            display: grid;
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 5;
            grid-template-rows: 60% 40%;
            grid-template-columns: 15% 7% 66% 12%;
        }

        #dream-it-do-it * h2.book-title {
            margin: 0;
            padding: 0;
            font-size: 22pt;
            grid-area: 1 / 3 / 2 / 4;
            text-align: left;
            justify-self: start;
            align-self: end;
        }

        #dream-it-do-it * .subtitle {
            grid-area: 2 / 3 / 3 / 4;
            font-size: 7pt;
            padding-top: 0px;
            padding-left: 20px;
            letter-spacing: -.05ch;
        }

        #dream-it-do-it * .author-short {
            grid-area: 1 / 1 / 3 / 2;
            justify-self: center;
            align-self: center;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            font-size: 17pt;
        }

        #dream-it-do-it * .background-block {
            grid-area: 1 / 1 / 3 / 2;
            width: 100%;
            height: 100%;
            justify-self: center;
            align-self: center;
        }

        #dream-it-do-it * .spine-logo {
            justify-self: center;
            align-self: center;
            grid-area: 1 / 4 / 3 / 5;
            padding: 0px;
            max-width: 70%;
            transform: rotate(-90deg);
        }

    /* Where Water Comes Together with Other Water */

        #where-water-comes-together {
            grid-area: 23 / 1 / 24 / 2;
            height: 100%;
            width: 100%;
        }

        #where-water-comes-together .spine {
            grid-template-columns: 70% 30%;
        }

        #where-water-comes-together * h2.book-title {
            margin: 0;
            padding: 0;
            font-size: .5em;
            align-self: center;
            justify-self: start;
            padding-left: 20px;
        }

        #where-water-comes-together * .author-short {
            font-size: .5em;
            align-self: center;
            justify-self: start;
        }

    /* The Imagineering Way */

        #the-imagineering-way {
            grid-area: 24 / 1 / 26 / 2;
            height: 100%;
            width: 100%;
        }

        #the-imagineering-way .spine {
            grid-template-columns: 60% 40%;
        }

        #the-imagineering-way * h2.book-title {
            margin: 0;
            padding: 0;
            align-self: center;
            justify-self: start;
            margin-top: -2px;
            padding-left: 20px;
            font-size: 12pt;
        }

        #the-imagineering-way * .author-short {
            font-size: 9pt;
            justify-self: start;
            align-self: center;
        }

        .book-content {
            padding: 0px;
        }

        .content-title {
            font-family: var(--serif-font);
            padding: 20px 20px 10px;
            background-color: var(--night);
            background: linear-gradient(132deg, rgba(255,187,38,1) 0%, rgba(254,123,96,1) 32%, rgba(251,72,191,1) 77%, rgba(185,34,218,1) 100%);
            color: var(--light);
            text-align: right;
        }
        
        .content-author {
            margin: 30px 10px 0px 10px;
            font-family: var(--serif-font);
            font-size: 1rem;
        }
        
        .excerpt {
            margin: 30px 10px;
            letter-spacing: -.05ch;
        }
        
        .byline {
            margin: 30px 10px;
            text-align: right;
            font-style: italic;
            font-family: var(--main-font);
        }
        
        a.book-link {
            display: block;
            margin: 30px 10px;
        }
}