body {
    margin: 0;
    padding: 0;
}

:root {
    font-size: calc(1rem + .25vw);
    --light: #ffffff;
    --dark: #000000;
    --ice: #84FFFF;
    --spring: #69F0AE;
    --lime: #F4FF81;
    --sun: #FFE57F;
    --guava: #FF80AB;
    --night: #1A237E;
    --max-characters:70ch;
    --main-font:'futura-pt',sans-serif;
    --main-font-var: 'futura-pt-bold',sans-serif;
    --accent-font:'PT Mono',sans-serif;
}

* {
    font-family: var(--main-font);
}

body,div,footer,header,html,img,main,nav,section {
    max-width: 100%;
}

h1, h2, h3, h4, p, li {
    max-width: var(--max-characters);
}

#main-content {
    padding: 50px;
}

footer {
    margin-bottom: 0
}